.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
    border: 0.5px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  .img{
    width:450px;
    height:300px;
    margin-bottom: 10px;
    margin-left:70px;
  }
  .title {
    text-align: center;
    color: #08a045;
    font-size: 28px;
    margin-bottom: 20px;
    animation: slideUp 0.5s ease-in-out;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .problem {
    margin-top: 40px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .problem-title {
    font-size: 24px;
    color: #08a045;
    margin-bottom: 10px;
  }
  
  .problem-description {
    margin-top: 10px;
    color: #333;
    animation: slideIn 0.5s ease-in-out;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .problem-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #08a045;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: scaleIn 0.5s ease-in-out;
    margin:auto;
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .problem-button:hover {
    background-color: #048837;
  }
  
  .footer {
    text-align: center;
    margin-top: 40px;
    color: #999;
    font-size: 14px;
    animation: slideUp 0.5s ease-in-out;
  }
  