.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .errorMessage {
    color: red;
  }
  
  .successMessage {
    color: green;
  }
  