.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  li{
    color:white;
  }
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  